<.flash_group flash={@flash} />

<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="max-w-xl mx-auto lg:mx-0">
    <h1 class="flex items-center mt-10 text-sm font-semibold leading-6 text-brand">
      Phoenix Framework
    </h1>

    <h1><%= gettext "Welcome to %{name}!", name: Map.get(@conn.private, :subdomain, "fresco") %></h1>

  </div>
</div>
